body{

}
form{
    width:300px;
}
input{
    width: 100%;
}
textarea{
    resize: vertical;
    width: 100%;
    max-height: 100px;
}
input,textarea{
    outline: none;
    border: 1px splid #ddd;
}
input:focus,textarea:focus {
box-shadow:0 0 4px rgba(225,0,0,0.5);
}
::placeholder{
    color: red;
    opacity: 1;
}